body {
    background-color: #252839;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

nav {
    background-color: #b5b5b7;
    overflow: hidden;
    width: 100%;
}

header {
  background-color: #383b43;
  color: #ffffff;
  cursor: default;
  font-size: 1.1em;
  height: 6em;
  line-height: 6em;
  width: 100%;
  z-index: 10000;
}

nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline-block;
        list-style-type: none;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

        nav > ul > li > a {
            color: #fff;
            display: block;
            line-height: 56px;
            padding: 0 24px;
            text-decoration: none;
        }
        footer{
          color: #fff;
        }

        p{
          color: #f8f8f8;
          font-family: 'Raleway',sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 32px;
          margin: 0 0 24px;
          text-align: center;
          padding-top : 50px;
        }

        h1 {
          color: #ffffff;
          font-family: 'Raleway',sans-serif;
          font-size: 62px;
          font-weight: 800;
          line-height: 72px;
          margin: 0 0 24px;
          text-align: center;
          text-transform: uppercase;
          padding: 10px;
        }

iframe{
  padding: 40px;
}

#mapa{
  padding: 30px;
}

ul{
  color: #f8f8f8;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
  padding-top : 50px;
}

table{
  color: #f8f8f8;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
  padding-top : 50px;
  background: rgba(#052e42, 0.71);
}
